body {
  background-color: #f8f9fa;
}

.card {
  transition: transform 0.2s ease-in-out;
}


.card-title {
  text-overflow: ellipsis;
  width: 100%;
}

.card:hover {
  transform: scale(1.02);
}

.card-text {
  text-overflow: ellipsis;
}
